*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0
}

li {
  list-style-type: none;
  line-height: 2em;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

q:before,
q:after {
  content: ''
}

strong {
  font-weight: bold
}

em {
  font-style: italic
}

a img {
  border: none
}


/*-----------------------------------------------------------------------------------*/


/*  FONT-IMPORT

/*-----------------------------------------------------------------------------------*/


@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro/SourceCodePro-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'SourceCodePro-Medium';
  src: url('../fonts/SourceCodePro/SourceCodePro-Medium.ttf') format('truetype')
}
@font-face {
  font-family: 'SourceCodePro-Bold';
  src: url('../fonts/SourceCodePro/SourceCodePro-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'SourceCodePro-SemiBold';
  src: url('../fonts/SourceCodePro/SourceCodePro-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'FiraMono';
  src: url('../fonts/Fira_Mono/FiraMono-Regular.ttf')
}
@font-face {
  font-family: 'FiraMono-Medium';
  src: url('../fonts/Fira_Mono/FiraMono-Medium.ttf')
}
@font-face {
  font-family: 'FiraMono-Bold';
  src: url('../fonts/Fira_Mono/FiraMono-Bold.ttf')
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf')
}
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf')
}


/*-----------------------------------------------------------------------------------*/


/*  BOOTSTRAP

/*-----------------------------------------------------------------------------------*/

.icon-bar {
  background: #424243;
}

.navbar-toggle {
  height: 60px;
  margin: 0px;
}


/*-----------------------------------------------------------------------------------*/


/*  2. BASE CSS
/*-----------------------------------------------------------------------------------*/
/* html {
  padding-top: 60px;
} */

body {
  font-family: 'PingFangSC-Regular', monospace, 'Microsoft YaHei';
  color: #333;
  font-size: 14px;
  background-color: #f2f2f2;
  /* padding-top: 60px; */
}

nav {
  background: #fff;
  height: 60px;
  position: fixed;
  z-index: 999;
  width: inherit;
  max-width: inherit;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  /* background: #fff; */
  background-color: #f2f2f2;
  box-shadow: 0 0 15px 15px rgba(200, 200, 200, .14);
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}


main {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 500px;
  width: 95%;
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

main::after {
  content: '';
  clear: both;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PingFangSC-Regular', 'Microsoft YaHei';
}

p {
  font-size: 14px;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  color: #424243;
}

a:hover,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  border: 0;
  padding: 0;
  height: auto;
}

cite {
  font-style: italic;
}

acronym {
  border-bottom: 1px dotted #333;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, consolas, monospace;
  font-size: 14px;
}

code {
  padding: 2px 4px;
  word-wrap: break-word;
  /* color: #4d4d4c; */
  color: rgb(140, 26, 17);
  background: #f7f7f7;
  border-radius: 3px;
  font-size: 13px;
}

pre code {
  padding: 0;
  /* color: #4d4d4c; */
  color: rgb(140, 26, 17);
  background: none;
  text-shadow: none;
}

pre .deletion {
  background: #fdd;
}

pre .addition {
  background: #dfd;
}

pre .meta {
  color: #8959a8;
}

pre .comment {
  color: #8e908c;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}

pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #718c00;
}

pre .title,
pre .css .hexcolor {
  color: #3e999f;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}

pre .keyword,
pre .javascript .function {
  color: #8959a8;
}


/*-----------------------------------------------------------------------------------*/


/*  3. NAVIGATION
/*-----------------------------------------------------------------------------------*/

.page-navigation {
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  left: 0;
  top: 0;
}

.nav-container {
  width: 92%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-container:after {
  content: '';
  clear: both;
  display: block;
}

.page-header-logo {
  float: left;
  line-height: 60px;
  height: 60px;
  position: relative;
  z-index: 999;
}

h1.prince-log {
  height: 60px;
  margin-right: 20px;
  line-height: 60px;
  font-family: 'ArialRoundedMTBold', 'PingFang-Medium', 'Microsoft YaHei';
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 16px;
}

h1.prince-log a {
  color: #424243;
}

.log-desc {
  color: #424243;
  /* text-transform: uppercase; */
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 12px;
  display: none;
}

@media only screen and (min-width: 768px) {
  ul.main-nav-items {
    float: right;
    margin-right: 15px;
    display: none;
  }
  .main-nav-items li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  .main-nav-items li a {
    font-family: 'ArialRoundedMTBold', 'PingFangSC-Regular', 'Microsoft YaHei';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #808080;
    line-height: 60px;
    display: inline-block;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
  }
}

@media only screen and (max-width: 767px) {
  ul.main-nav-items {
    margin: 10px auto;
    width: 92%;
    background: #fefefe;
    box-shadow: 0 0 10px 10px rgba(200, 200, 200, .14);
    position: fixed;
    z-index: 1000;
    top: 60px;
  }
  .main-nav-items li a {
    display: block;
    text-align: right;
    font-family: 'PingFangSC-Regular', 'Microsoft YaHei';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #808080;
    padding: 8px 0;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
  }
}

.main-nav-items li a:hover {
  color: #000;
  text-decoration: none;
}


/*-----------------------------------------------------------------------------------*/


/*  6. POST LAYOUT
/*-----------------------------------------------------------------------------------*/

.articles {
  width: 92%;
  margin: 0 auto;
  position: relative;
}

.post-block {
  margin-bottom: 50px;
}

.post-block .post-gallery>p {
  display: none;
}

.post-block .post-gallery>p:nth-child(1) {
  display: block;
}

.post-title {
  font-family: "PingFangSC-SemiBold", 'Microsoft YaHei', Arial, sans-serif;
  margin-bottom: 25px;
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
  /* letter-spacing: 1.25px; */
  /* font-weight: 400; */
  /* text-transform: uppercase; */
  margin-bottom: 10px;
}

.post-title a {
  font-family: "PingFangSC-Medium", 'Microsoft YaHei', Arial, sans-serif;
  color: #000;
}

.post-title a:hover {
  opacity: .80;
}

.post-info {
  font-size: 12px;
  color: #797979;
  /* text-transform: uppercase; */
  text-align: center;
  letter-spacing: .6px;
  font-family: 'PingFangSC-Regular', sans-serif, 'Microsoft YaHei';
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-entry {
  clear: both;
  padding-bottom: 10px;
}

.post-entry img {
  max-width: 100%;
  height: auto;
}

.post-entry p {
  margin-bottom: 6px;
  animation: 3s infinite alternate slideIn;
}

.post-entry a,
.toc a
 {
  padding: 0 2px;
  border-bottom: 1px solid #333;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.post-entry a:hover,
.toc a:hover
{
  background-color: #444;
  border: none;
  color: #fff;
  text-decoration: none;
}

.post-entry .fancybox {
  display: inline-block;
  border: none !important;
  padding: 0px;
}

.post-entry #more,
.post-entry .fancybox {
  text-decoration: none;
  border: none;
}

#more:hover,
.post-entry .fancybox:hover {
  background: transparent;
}

.post-entry a.headerlink {
  text-decoration: none;
  padding: 0px;
}

.post-entry p,
.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6,
.post-entry hr {
  margin-bottom: 10px;
  font-family: 'PingFangSC-Regular', monospace, 'Microsoft YaHei', STHeiti;
}

.post-entry h1,
.post-entry h2,
.post-entry h3
{
  margin-top: 20px;
}

.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6 {
  color: #000;
  font-weight: 700;
}

.post-entry h1 {
  font-size: 20px;
}

.post-entry h2 {
  font-size: 18px;
  line-height: 22px;
}

.post-entry h3 {
  font-size: 14px;
  line-height: 16px;
}

.post-entry h4 {
  font-size: 14px;
}

.post-entry h5 {
  font-size: 12px;
}

.post-entry h6 {
  font-size: 12px;
}

.post-entry hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #e5e5e5;
  clear: both;
}

blockquote {
  background-color: #F9F9F9;
}

.post-entry blockquote {
  background-color: #f4f4f4;
  margin-bottom: 20px;
}

.post-entry blockquote p {
  border-left: 3px solid #424243;
  color: #999;
  padding: 0 18px;
  font-family: 'PingFangSC-Regular', "Georgia";
  font-size: 12px;
  line-height: 28px;
  margin: 0px;
  font-style: italic;
}

.post-entry blockquote footer {
  padding: 0 18px;
  text-align: right;
}

.post-entry blockquote footer cite {
  font-style: italic;
}

.post-entry blockquote footer cite::before {
  content: "—";
  padding: 0px 0.5em;
}

.post-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.post-entry .pullquote.left {
  margin-left: 8px;
  margin-right: 16px;
}

.post-entry .pullquote.right {
  margin-right: 8px;
  margin-left: 16px;
}

.post-entry dl,
.post-entry ul,
.post-entry ol
{
  padding-left: 25px;
  margin-bottom: 2px;
}
ol.toc,
ol.toc-child {
  padding-left: 10px;
}

.post-entry ul li {
  margin-bottom: 2px;
  list-style: square;
}

.post-entry ol li,
.toc li
{
  margin-bottom: 8px;
  list-style: square;
}

.post-entry dt {
  font-weight: bold;
  margin-bottom: 4px;
}

.post-entry dd {
  margin-bottom: 8px;
}

.sticky.post .post-header {
  border: 1px dashed #ddd;
  padding: 20px 0;
}

.post-entry table {
  width: 100%;
  margin-bottom: 22px;
  border-collapse: collapse;
}

.post-entry td {
  padding: 2px;
  border-bottom: 1px solid #ddd;
}

::selection {
  background: #262a30;
  color: #fff;
}

.post-entry th {
  padding: 6px 0;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid #ddd;
}

.post-entry .highlight figcaption {
  font-size: 12px;
  color: #999;
}

.post-entry .highlight figcaption a {
  float: right;
  margin-right: 10px;
}

.post-entry .highlight {
  margin-bottom: 20px;
}

.post-entry table.js-file-line-container {
  margin-bottom: 0px;
}

.post-entry pre,
.post-entry .highlight {
  overflow: auto;
  padding: 0;
  font-size: 13px;
  background: #f7f7f7 !important;
  line-height: 1.6;
}

.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}

.highlight table {
  margin: 0;
  width: auto;
  border: none;
}

.highlight td {
  border: none;
  padding: 0;
}

.post-entry pre {
  padding: 0;
  font-size: 13px;
  background: #f7f7f7;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

.post-entry pre .line {
  white-space: pre;
  height: 20px;
}

.post-entry pre,
.post-entry code {
  font-family: Monaco, 'PT Mono', Menlo, consolas, "Georgia", "PingFang SC", "Microsoft YaHei", monospace;
}

.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gutter pre {
  padding-left: 10px;
  color: #869194;
  text-align: center;
  background-color: #eff2f3;
}

.code pre {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f7f7f7;
}

.post-entry .gist .gist-file {
  margin-bottom: 0px;
  border: none;
}

.post-entry .gist .gist-file .gist-meta {
  position: relative;
  bottom: 0px;
}

.post-entry input {
  padding: 3px 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.post-entry input[type="submit"] {
  cursor: pointer;
  background-color: #111;
  color: #fff;
  border-color: #111;
  letter-spacing: 0.75px;
}

.post-entry input[type="submit"]:hover {
  opacity: 0.8;
}

.post-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}

.video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.post-entry iframe {
  border: none;
  margin-bottom: 20px;
}

.post-meta {
  display: block;
  margin-top: 15px;
  height: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

a.article-more {
  font-family: ArialRoundedMTBold, "PingFangSC-Regular", 'Microsoft YaHei';
  font-size: 12px;
  line-height: 35px;
  letter-spacing: 1px;
  color: #797979;
  font-weight: 600;
  transition: .3s;
}

a.article-more:hover {
  color: #000;
}

.post-tags-box {
  height: 32px;
  text-align: center;
  display: inline-block;
  float: right;
}

.post-tags-box::before {
  font-family: FontAwesome;
  content: "\f02c";
  margin-right: 9px;
  color: #000;
  font-size: 12px;
}

.post-tags-box {
  transition: .3s;
  color: #797979;
  font-size: 12px;
}

.post-tags-box a {
  color: #797979;
  line-height: 32px;
  /* text-transform: uppercase; */
}

.post-tags-box a:hover {
  color: #000;
}


/*-----------------------------------------------------------------------------------*/


/*  GALLERY
/*-----------------------------------------------------------------------------------*/

.post-gallery-page p {
  display: inline-block;
}


/*-----------------------------------------------------------------------------------*/


/*  POST
/*-----------------------------------------------------------------------------------*/

.post {
  width: 92%;
  margin: 0 auto;
}

main {
  position: relative;
}
main .toc {
  position: fixed;
  right: 0px;
  top: 100px;
  padding-right: 20px;
  visibility: hidden;
  /* transform: translate(-100%, 0); */
}


/*  ARCHIVE
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
  .archive {
    padding: 20px 30px 40px;
  }
}


/*-----------------------------------------------------------------------------------*/


/*  ASIDE
/*-----------------------------------------------------------------------------------*/

aside.sidebar {
  padding-left: 15px;
  padding-right: 5px;
  box-sizing: border-box;
}


/*-----------------------------------------------------------------------------------*/


/*  ARCHIVE-POST
/*-----------------------------------------------------------------------------------*/

.post-item>a {
  display: block;
}

.post-item>a:after {
  content: '';
  display: block;
  clear: both;
}

.post-item>a span {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-item a .post-title {
  font-family: "PingFangSC-Regular", 'Microsoft YaHei', STHeiti, Arial, sans-serif;
  text-align: left;
  margin: 0px;
  font-weight: 400;
  /* text-transform: uppercase; */
}

@media only screen and (max-width: 767px) {
  .post-item:after {
    content: '';
    display: block;
    clear: both;
  }
  .post-item {
    margin: 8px 0;
  }
  .post-item a .post-title {
    font-family: "PingFangSC-Medium", Helvetica Neue, Helvetica, 'Microsoft YaHei', STHeiti, Arial, sans-serif;
    height: 18px;
    line-height: 18px;
    padding-left: 0px;
  }
  .post-item a .post-date {
    text-align: right;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #808080;
  }
}

.post-item a:hover .post-title,
.post-item a:hover .post-date {
  opacity: .60;
}

.postList-tags-box::before {
  font-family: FontAwesome;
  content: "\f02c";
  margin-right: 9px;
  color: #000;
  font-size: 12px;
}

.postList-tags-box {
  transition: .3s;
  color: #797979;
  margin-bottom: 10px;
}

.postList-tags-box a {
  font-size: 12px;
  color: #797979;
  line-height: 32px;
  /* text-transform: uppercase; */
}

.postList-tags-box li a:hover {
  color: #000;
}


/*-----------------------------------------------------------------------------------*/


/*  ARCHIVE-ASIDE-WIDGET
/*-----------------------------------------------------------------------------------*/

.widget {
  padding: 0 30px 40px;
  color: #3f3f3f;
}

h3.aside-title {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #262626;
  /* text-transform: uppercase; */
  border-bottom: 1px dotted #dcdcdc;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  font-family: ArialRoundedMTBold, 'PingFangSC-Regular';
  font-weight: 500;
  line-height: 1.1;
}

.about-me-image {
  margin-top: 20px;
  padding-top: 62.5%;
  background-image: url('/aboutme.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.about-me-text {
  font-family: "PingFangSC-Regular", monospace, 'Microsoft YaHei', STHeiti;
  padding: 15px 0 0;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
  text-align: center;
}

.all-tags-box {
  padding-top: 20px;
}

.all-tags-box a {
  font-family: 'PingFangSC-Regular', sans-serif, 'Microsoft YaHei', STHeiti;
  font-size: 12px !important;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  background: #f2f2f2;
  color: #666;
  padding: 6px 7px 6px;
  margin-right: 5px;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 2px;
}

.all-tags-box a:hover {
  background: #333;
  color: #fff;
  text-decoration: none;
}

.follow-icons {
  text-align: center;
  padding-top: 10px;
}

.follow-icons>a:hover {
  opacity: 0.8;
}

.github-link::after {
  font-family: FontAwesome;
  content: "\f09b";
  margin: 10px;
  color: #000;
  font-size: 18px;
}

.twitter-link::after {
  font-family: FontAwesome;
  content: "\f099";
  margin: 10px;
  color: #000;
  font-size: 18px;
}

.weibo-link::after {
  font-family: FontAwesome;
  content: "\f18a";
  margin: 10px;
  color: #000;
  font-size: 18px;
}


/*-----------------------------------------------------------------------------------*/


/*  PAGINATION (PAGE/POST)
/*-----------------------------------------------------------------------------------*/

.paginator,
.post-nav {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}

.paginator a,
.post-nav a {
  color: #656565;
  font-family: 'PingFangSC-Regular', sans-serif, 'Microsoft YaHei', STHeiti;
  /* text-transform: uppercase; */
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paginator a:hover,
.post-nav a:hover {
  text-decoration: none;
  color: #000;
}

.prev-wrap,
.next-wrap {
  display: flex;
  align-items: center;
}

.prev-wrap {
  justify-content: flex-start;
}

.next-wrap {
  justify-content: flex-end;
}

.prev-page,
.prev-post {
  text-align: left;
  padding-left: 4px;
}

.next-page,
.next-post {
  text-align: right;
  padding-right: 4px;
}


/*--------------------------------------------------------------------------------*/


/*   ABOUT
/*--------------------------------------------------------------------------------*/

.post-about {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}


/*--------------------------------------------------------------*/


/*   FOOTER COPYRIGHT
/*--------------------------------------------------------------*/

.copyright {
  padding: 35px 0;
  background: #f2f2f2;
  overflow: hidden;
  font-family: 'PingFangSC-Regular', sans-serif, 'Microsoft YaHei', STHeiti;
  clear: both;
  text-align: center;
}

.copyright p {
  font-size: 12px;
  color: #6b6b6b;
  font-family: "PingFangSC-Regular", monospace, 'Microsoft YaHei', STHeiti;
}

.copyright p a {
  color: #000;
}
