/*-----------------------------------------------------------------------------------*/


/*  FONT-IMPORT

/*-----------------------------------------------------------------------------------*/

/*@font-face {
    font-family: 'Inconsolata';
    src:url('../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Inconsolata';
    src:url('../fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
}*/
@font-face {
    font-family: 'Oswald';
    src:url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    src:url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
}
/*-----------------------------------------------------------------------------------*/


/*  BOOTSTRAP

/*-----------------------------------------------------------------------------------*/

.icon-bar {
  background: #424243;
}

.navbar-toggle {
  height: 80px;
  margin: 0px;
}


/*.navbar-collapse {
  padding: 0px;
}*/


/*-----------------------------------------------------------------------------------*/


/*  2. BASE CSS
/*-----------------------------------------------------------------------------------*/

body {
  font-family:  "Trebuchet MS",monospace,'Microsoft YaHei',STHeiti;
  color: #333;
  font-size: 14px;
  background-color: #f2f2f2;
}

nav {
  background: #fff;
  height: 80px;
  position: fixed;
  z-index: 999;
  width: inherit;
  max-width: inherit;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 15px 15px rgba(200, 200, 200, .14);
  position: relative;
  overflow: hidden;
}

main {
  padding-top: 80px;
}

main::after {
  content: '';
  clear: both;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
}

p {
  font-size: 14px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #424243;
}

a:hover {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  border: 0;
  padding: 0;
  height: auto;
}


/*-----------------------------------------------------------------------------------*/


/*  3. NAVIGATION
/*-----------------------------------------------------------------------------------*/

.nav-container {
  width: 92%;
  margin: 0 auto;
}

.nav-container:after {
  content: '';
  clear: both;
  display: block;
}

.page-header-logo {
  float: left;
  line-height: 80px;
  height: 80px;
  position: relative;
  z-index: 999;
}

h1.prince-log {
  height: 80px;
  line-height: 80px;
  font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 20px;
}

h1.prince-log a {
  color: #424243;
}

.log-desc {
  color: #424243;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 12px;
  display: none;
}

@media only screen and (min-width: 768px) {
  ul.main-nav-items {
    float: right;
    margin-right: 15px;
    display: none;
  }
  .main-nav-items li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  .main-nav-items li a {
    font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #808080;
    line-height: 80px;
    text-transform: uppercase;
    display: inline-block;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
  }
}

@media only screen and (max-width: 767px) {
  ul.main-nav-items {
    margin: 10px auto;
    width: 92%;
    background: #fefefe;
    box-shadow: 0 0 10px 10px rgba(200, 200, 200, .14);
    position: fixed;
    z-index: 1000;
    top: 60px;
  }
  .main-nav-items li a {
    display: block;
    text-align: right;
    font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #808080;
    padding: 8px 0;
    /*line-height: 80px;*/
    text-transform: uppercase;
    /*display: inline-block;*/
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
  }
}

.main-nav-items li a:hover {
  color: #000;
  text-decoration: none;
}


/*-----------------------------------------------------------------------------------*/


/*  6. POST LAYOUT
/*-----------------------------------------------------------------------------------*/

.articles {
  width: 92%;
  margin: 0 auto;
}

.post-block {
  margin-bottom: 100px;
}

.post-title {
  font-family: "Trebuchet MS",Helvetica Neue,Helvetica,'Microsoft YaHei',STHeiti,Arial,sans-serif;
  margin-bottom: 25px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.25px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post-title a {
  font-family:"Trebuchet MS",Helvetica Neue,Helvetica,'Microsoft YaHei',STHeiti,Arial,sans-serif;
  color: #000;
}

.post-title a:hover {
  opacity: .80;

}

.post-info {
  font-size: 12px;
  color: #797979;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .6px;
  font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  /*margin-left: 8px;*/
}

.post-entry {
  clear: both;
  padding-bottom: 10px;
}

.post-entry a {
  font-weight: 600;
}

.post-entry a:hover {
  text-decoration: underline;
}

.post-entry img {
  max-width: 100%;
  height: auto;
}

.post-entry p {
  margin-bottom: 20px;
}

.post-entry a.more-link {
  font-weight: 700;
  letter-spacing: 1.25px;
  padding: 8px 20px;
  border: 2px solid #424242;
  font-size: 11px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  color: #111;
  font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
}

.post-entry a.more-link:hover {
  background-color: #111;
  border: 1px solid #111;
  color: #fff;
  text-decoration: none;
}

.post-entry p,
.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6,
.post-entry hr {
  margin-bottom: 20px;
  font-family: "Trebuchet MS",Helvetica Neue,Helvetica,'Microsoft YaHei',STHeitiArial,sans-serif;
}

.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6 {
  color: #000;
  font-weight: 700;
}

.post-entry h1 {
  font-size: 28px;
}

.post-entry h2 {
  font-size: 26px;
}

.post-entry h3 {
  font-size: 24px;
}

.post-entry h4 {
  font-size: 20px;
}

.post-entry h5 {
  font-size: 18px;
}

.post-entry h6 {
  font-size: 16px;
}

.post-entry hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #e5e5e5;
  clear: both;
}

blockquote {
  background-color: #F9F9F9;
}

.post-entry blockquote {
  background-color: #f4f4f4;
}

.post-entry blockquote p {
  border-left: 3px solid #424243;
  color: #999;
  padding: 0 18px;
  font-family: "Georgia";
  font-size: 15px;
  line-height: 28px;
  font-style: italic;
}

.post-entry ul,
.post-entry ol {
  padding-left: 45px;
  margin-bottom: 20px;
}

.post-entry ul li {
  margin-bottom: 12px;
  list-style: square;
}

.post-entry ol li {
  margin-bottom: 12px;
  list-style: decimal;
}

.sticky.post .post-header {
  border: 1px dashed #ddd;
  padding: 20px 0;
}

.post-entry table {
  width: 100%;
  margin-bottom: 22px;
  border-collapse: collapse;
}

.post-entry td,
.post-entry th {
  padding: 12px;
}

.post-entry th {
  font-weight: bold;
  font-size: 14px;
  background: #f5f5f5;
}

.post-entry tr:hover {
  background: #f9f9f9;
}

.post-entry pre {
  margin-bottom: 15px;
  margin-bottom: 15px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  border: 1px solid #ececec;
  padding: 12px;
}

.post-entry input {
  padding: 3px 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.post-entry input[type="submit"] {
  cursor: pointer;
  background-color: #111;
  color: #fff;
  border-color: #111;
  letter-spacing: 0.75px;
}

.post-entry input[type="submit"]:hover {
  opacity: 0.8;
}

.post-meta {
  display: block;
  margin-top: 15px;
  height: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

a.article-more {
  font-family: "Trebuchet MS", Monaco, monospace;
  font-size: 14px;
  line-height: 35px;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #797979;
  font-weight: 600;
  transition: .3s;
}

a.article-more:hover {
  color: #000;
}

.post-tags-box {
  height: 32px;
  text-align: center;
  display: inline-block;
  float: right;
}

.post-tags-box::before {
  font-family: FontAwesome;
  content: "\f02c";
  margin-right: 9px;
  color: #000;
  font-size: 12px;
}

.post-tags-box {
  transition: .3s;
  color: #797979;
  font-size: 12px;
}

.post-tags-box a {
  color: #797979;
  line-height: 32px;
  text-transform: uppercase;
}

.post-tags-box a:hover {
  color: #000;
}


/*-----------------------------------------------------------------------------------*/


/*  POST
/*-----------------------------------------------------------------------------------*/

.post {
  width: 92%;
  margin: 0 auto;
}


/*  ARCHIVE
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
  .archive {
    padding: 20px 30px 40px;
  }
}


/*-----------------------------------------------------------------------------------*/


/*  ASIDE
/*-----------------------------------------------------------------------------------*/

aside.sidebar {
  padding-left: 15px;
  padding-right: 5px;
  box-sizing: border-box;
}


/*-----------------------------------------------------------------------------------*/


/*  ARCHIVE-POST
/*-----------------------------------------------------------------------------------*/

.post-item>a {
  display: block;
}
.post-item>a:after{
  content: '';
  display: block;
  clear: both;
}
.post-item>a span {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-item a .post-title {
  font-family: "Trebuchet MS",Helvetica Neue,Helvetica,'Microsoft YaHei',STHeiti,Arial,sans-serif;
  text-align: left;
  margin: 0px;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .post-item:after {
    content: '';
    display: block;
    clear: both;
  }
  .post-item {
    margin: 8px 0;
  }
  .post-item a .post-title {
    font-family: "Trebuchet MS",Helvetica Neue,Helvetica,'Microsoft YaHei',STHeiti,Arial,sans-serif;
    height: 18px;
    line-height: 18px;
    padding-left: 0px;
  }
  .post-item a .post-date {
    text-align: right;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #808080;
  }
}

.post-item a:hover .post-title,
.post-item a:hover .post-date {
  opacity: .60;
}



.postList-tags-box::before {
  font-family: FontAwesome;
  content: "\f02c";
  margin-right: 9px;
  color: #000;
  font-size: 12px;
}

.postList-tags-box {
  transition: .3s;
  color: #797979;
  margin-bottom: 10px;
}

.postList-tags-box a {
  font-size: 12px;
  color: #797979;
  line-height: 32px;
  text-transform: uppercase;
}

.postList-tags-box li a:hover {
  color: #000;
}


/*-----------------------------------------------------------------------------------*/


/*  ARCHIVE-ASIDE-WIDGET
/*-----------------------------------------------------------------------------------*/

.widget {
  padding: 0 30px 40px;
  color: #3f3f3f;
}

h3.aside-title {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #262626;
  text-transform: uppercase;
  border-bottom: 1px dotted #dcdcdc;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.about-me-image {
  padding-top:75%;
  background-image: url('/aboutme.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.about-me-text {
  font-family:  "Trebuchet MS",monospace,'Microsoft YaHei',STHeiti;
  padding: 15px 0 0;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
  text-align: center;
}

.all-tags-box {
  padding-top: 20px;
}

.all-tags-box a {
  font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
  font-size: 12px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #f2f2f2;
  color: #666;
  padding: 6px 7px 6px;
  margin-right: 5px;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 2px;
}

.all-tags-box a:hover {
  background: #333;
  color: #fff;
  text-decoration: none;
}

.follow-icons {
  text-align: center;
  padding-top: 10px;
}

.github-link::after {
  font-family: FontAwesome;
  content: "\f09b";
  margin: 10px;
  color: #000;
  font-size: 18px;
}

.twitter-link::after {
  font-family: FontAwesome;
  content: "\f099";
  margin: 10px;
  color: #000;
  font-size: 18px;
}

.weibo-link::after {
  font-family: FontAwesome;
  content: "\f18a";
  margin: 10px;
  color: #000;
  font-size: 18px;
}


/*-----------------------------------------------------------------------------------*/


/*  PAGINATION (PAGE/POST)
/*-----------------------------------------------------------------------------------*/

.paginator,
.post-nav {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}

.paginator a,
.post-nav a {
  color: #656565;
  font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paginator a:hover,
.post-nav a:hover {
  text-decoration: none;
  color: #000;
}

.prev-wrap ,.next-wrap  {
  display: flex;
  align-items: center;
}

.prev-wrap {
  justify-content: flex-start;
}

.next-wrap{
  justify-content: flex-end;
}

.prev-page,
.prev-post {
  text-align: left;
  padding-left:4px;
}


.next-page,
.next-post {
  text-align: right;
   padding-right:4px;
}

/*--------------------------------------------------------------*/


/*   FOOTER COPYRIGHT
/*--------------------------------------------------------------*/

.copyright {
  padding: 35px 0;
  background: #f2f2f2;
  overflow: hidden;
  font-family: 'Oswald', sans-serif,'Microsoft YaHei',STHeiti;
  clear: both;
  text-align: center;
}

.copyright p {
  font-size: 12px;
  color: #6b6b6b;
  /*letter-spacing: 1px;*/
  font-family:  "Trebuchet MS",monospace,'Microsoft YaHei',STHeiti;
}

.copyright p a {
  color: #000;
}


/*--------------------------------------------------------------------------------*/


/*   Responsive
/*--------------------------------------------------------------------------------*/

main {
  width: 95%;
  margin: 0 auto;
}


/*@media only screen and (max-width: 1200px) {
  main {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1130px) {
  main {
    width: 92%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  main {
    width: 726px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  main {
    width: 460px;
  }
}

@media only screen and (max-width: 480px) {
  main {
    width: 100%;
  }
}*/
