.copyright
  p!='Crafted with <i class="fa fa-heart"></i> by&nbsp;' + theme.name +'&nbsp;|&nbsp;'+'<a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a href="'+theme.themeLink+'" target="_blank">Prince</a> by SHAW'