meta(charset='utf-8')
title= config.title
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="icon", href="/favicon.png")
link(href="/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/font-awesome.min.css", rel="stylesheet")
link(href="/css/main.css", rel="stylesheet")
include google-analytics.jade
