mixin index()
  - var prev = page.prev_link
  - var next = page.next_link
  .paginator
    if page.prev
      a.prev-page(href=url_for(page.prev_link))!= 'Previous'
    if page.next
      a.next-page(href=url_for(page.next_link))!= 'Next'

mixin post()
  -var prev = page.next ? page.next.path : false;
  -var next = page.prev ? page.prev.path : false;
  .post-nav
    if prev
      a.prev-post(href=url_for(prev))!= page.next.title
    if next
      a.next-post(href=url_for(next))!= page.prev.title
